{% extends 'base.html' %}
   {% block title %} Пользователи {% endblock %}
    {% block content %}
        <table border="1" cellspacing="0">
        <tr>
            <th>Логин</th>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Дата рождения</th>
            <th>Телефон</th>


        </tr>
        {%for item in n %}
        <tr>
            <td><a href="/users/{{item.nic_name}}">{{item.nic_name}}</a></td>
            <td>{{item.last_name}}</td>
            <td>{{item.name}}</td>
            <td>{{item.sername}}</td>
            <td>{{item.birday}}</td>
            <td>{{item.tel}}</td>

        </tr>
        {% endfor %}
        </table>

    {% endblock %}