{% extends 'Base.html' %}
{% block title %} upload {% endblock %}

{% block content %}

      <center style="padding: 40px">
	<form action = "http://ptflask.herokuapp.com/upload/" method = "POST"
         enctype = "multipart/form-data">
         <input type = "file" name = "file" />
         <input class="btn btn-primary" type = "submit"/>

			  Выбор языка:
			<select  name="Language:" >
			<option>English</option>
			<option>Deutsch</option>
			<option>Français</option>
			</select>
       </form>
	</center>	


{% endblock %}
